body
{
	background: black;
	background-image: url('img/starry-night.jpg');
	color: white;
}

table.direction_grid
{
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

td.direction_cell
{
	padding: 0;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#header
{
	display: table;
	width: 100%;
}

#logos
{
	display: table-cell;
	text-align: center;
}

#links
{
	display: table-cell;
	text-align: right;
}

.company_logo
{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.game_logo
{
	display: inline-block;
	width: auto;
	height: 100px;
}

.applet_logo
{
	display: inline-block;
}

#main
{
	display: table;
}

#ships
{
	display: table-cell;
	vertical-align: top;
	text-align: center;
	width: 100px;
}

.ship_button
{
	width: 50px;
	height: 50px;
}

label
{
	display: table-cell;
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 50px;
}

label:hover {
    background:#006699;   
}

#diagram
{
	display: table-cell;
	padding-left: 25px;
	text-align: center;
	width: 300px;
}

#maneuvers
{
	display: table-cell;
	padding-left: 25px;
	vertical-align: top;
	text-align: center;
}

#results
{
	display: table-cell;
	padding-left: 25px;
	font-size: large;
	font-weight: bold;
	vertical-align: top;
}

#table
{
	display: table-cell;
	padding-left: 50px;
	text-align: left;
}

.label
{
	color: teal;
	font-size: large;
	font-weight: bold;
}

.maneuver_label
{
	color: silver;
	font-size: medium;
	font-weight: bold;
}

.maneuver
{
	height: 50px;
	width: 100px;
}

.output
{
	display: table-cell;
	font-size: xx-large;
	height: 50px;
	width: 50px;
	text-align: right;
	vertical-align: middle;
}

.seperator
{
	display: table-cell;
	font-size: x-large;
	text-align: center;
	width: 100px;
}

#actions-text
{
	font-size: large;
}

#footer
{
	text-align: center;
}

table.ship_table
{
	border-collapse: collapse;
	border: 1px solid white;
}

td.ship_cell
{
	border-collapse: collapse;
	border: 1px solid white;
	height: 50px;
	padding-left: 10px;
}

.table_num
{
	display: inline-block;
	font-size: xx-large;
	vertical-align: middle;
	text-align: right;
	padding: 0;
}