body
{
	background: black;
	background-image: url('img/starry-night.jpg');
	color: white;
}

table
{
	border: 1px;
	/*padding-left: 100px;*/
}

tr
{
	text-align: center;
	width: 100px;
	height: 100px;
}

#header
{
    display: table;
	width: 100%;
}

#logos
{
	display: table-cell;
	text-align: center;
}

#links
{
	display: table-cell;
	text-align: right;
}

.company_logo
{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.game_logo
{
	display: inline-block;
	width: auto;
	height: 100px;
}

#main
{
	display: table;
}

#ships
{
	display: table-cell;
}

#diagram
{
	display: table-cell;
	padding-left: 50px;
}

#results
{
	display: table-cell;
	padding-left: 50px;
	font-size: x-large;
	font-weight: bold;
}

#selection-label
{
	color: blue;
}

#output-label
{
	color: blue;
}

#footer
{
	text-align: center;
}
