body
{
	background: black;
	background-image: url('img/starry-night.jpg');
	color: white;
}

table
{
	border: 1px;
	/*padding-left: 100px;*/
}

#direction_buttons
{
	text-align: center;
	width: 100px;
	height: 100px;
}

#header
{
    display: table;
	width: 100%;
}

#logos
{
	display: table-cell;
	text-align: center;
}

#links
{
	display: table-cell;
	text-align: right;
}

.company_logo
{
	display: inline-block;
	width: 100px;
	height: 100px;
}
.game_logo
{
	display: inline-block;
	width: auto;
	height: 100px;
}

.applet_logo
{
	display: inline-block;
}

#main
{
	display: table;
}

#ships
{
	display: table-cell;
	vertical-align: top;
	text-align: center;
	width: 100px;
}

.ship_button
{
	width: 50px;
	height: 50px;
}

label
{
	display: table-cell;
	cursor: pointer;
	text-align: center;
	width: 50px;
	height: 50px;
}

label:hover {
    background:#006699;   
}

#diagram
{
	display: table-cell;
	padding-left: 50px;
	text-align: center;
	width: 350px;
}

#results
{
	display: table-cell;
	padding-left: 50px;
	font-size: large;
	font-weight: bold;
	vertical-align: middle;
}

#table
{
	display: table-cell;
	padding-left: 50px;
	text-align: left;
}

.label
{
	color: teal;
}

.output
{
	display: table-cell;
	font-size: x-large;
	width: 150px;
}

.seperator
{
	display: table-cell;
	font-size: x-large;
	width: 50px;
}

#actions-text
{
	font-size: large;
}

#footer
{
	text-align: center;
}

#actions
{
	display: table;
}

#action_image
{
	display: table-cell;
	height: 100px;
}

#action_text
{
	display: table-cell;
	height: 100px;
	padding-left: 25px;
	vertical-align: top;
}

table.ship_table, td.ship_cell
{
	border-collapse: collapse;
	border: 1px solid white;
	padding: 5px;
}